body {
    background-image: url('../IMG/fondo.jpg');
    background-size: cover;       /* Ajusta la imagen para cubrir toda la pantalla */
    background-position: center;  /* Centra la imagen */
    background-repeat: no-repeat; /* No repite la imagen */
    background-attachment: fixed;
    margin: 0;
    color: #ffffff;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
}

.main-container {
    background-color: #e49219ec;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(255, 255, 255, 0.1);
    width: 500%;
    max-width: 400px;
    margin: 20px;
}
 
.header-contactos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
 
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}
 
th, td {
    text-align: left;
    padding: 12px;
    border-bottom: 1px solid #ffffffec;
}
 
th {
    background-color: #d47f00;
    color: #ffffff;
}
 
.btn-edit {
    background-color: #ce8210;
    color: #ffffff;
    padding: 5px 10px;
    font-size: 12px;
    width: auto;
    cursor: pointer;
    border: 3px solid #fcf9f9;
}
 
.btn-volver {
    text-decoration: none;
    color: #ffffff;
    font-size: 14px;
    border: 3px solid #fcf9f9;
    padding: 5px 10px;
    border-radius: 4px;
}
 
.btn-volver:hover {
    background-color: #eee;
}

.footer-acciones {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.btn-agregar {
    background-color: #d47f00;
    color: rgb(238, 238, 238);
    border: none;
    padding: 12px 25px;
    border-radius: 6px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.h2{
    color: white;
}