body {
    background-image: url('../IMG/fondo.jpg');
    background-size: cover;       /* Ajusta la imagen para cubrir toda la pantalla */
    background-position: center;  /* Centra la imagen */
    background-repeat: no-repeat; /* No repite la imagen */
    background-attachment: fixed;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
    
.login-container {
    background-color: rgba(228, 146, 25, 0.925);
    padding: 2.5rem;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    width: 320px;
}
 
h2 {
    text-align: center;
    color: #ffffff;
    margin-top: 0;
}
 
.form-group {
    margin-bottom: 1.2rem;
}
 
label {
    display: block;
    margin-bottom: 8px;
    color: #ffffff;
    font-size: 14px;
}
 
input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 6px;
    box-sizing: border-box;
    outline: none;
}
 
input:focus {
    border-color: #f7f6f1;
}
 
button,
.boton-login {
    display: block;
    width: 100%;
    padding: 12px;
    background-color: #915700;
    border: none;
    border-radius: 6px;
    color: rgb(253, 252, 248);
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    box-sizing: border-box;
    margin-top: 10px;
}